.title {
  text-align: center;
}

.products {
  clear:both;
  text-align: center;
}

.products li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}
.logo {
  text-align: left;
}
.cubeing gif {
  text-align: right;
}
